-# controller that fetches updates
.messages-container{data: {controller: 'messages', endpoint: live_messages_path, lastmessage: @messages.first&.id || 0}}
  .list-messages.col{data: {messages: {target: 'list'}}}
    - @messages.each do |message|
      .col.message-container
        .row.name= message.name
        .row.message= message.message
        .row.time= message.created_at.in_time_zone('CET').strftime("%H:%M")

  .add-message.white-bg.col{data: {messages: {target: 'footer'}}}
    .blocky.dark-bg
    .blocky.keep-right.dark-bg
    .form.col
      = simple_form_for :message, remote: true, html: {'data-messages-target': 'form', 'data-action': "turbo:submit-end->messages#handleSubmit"} do |f|
        = f.input :name, label: false, placeholder: "Name...", input_html: { class: 'namebox white-bg' }, grid_wrapper_html: { class: 'col-sm-6 '}
        = f.input :message, as: :text, label:false, placeholder: "Message...", input_html: { class: 'textbox white-bg' }, grid_wrapper_html: { class: 'col-sm-6 '}
        .row
          = link_to root_path, class: 'back' do
            .inner
              :plain
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.8 23.6">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #1e1e1e;
                        stroke-width: 0px;
                      }
                    </style>
                  </defs>
                  <g id="Layer_1-2" data-name="Layer 1">
                    <polygon class="cls-1" points="11.8 0 0 11.8 11.8 23.6 11.8 0"/>
                  </g>
                </svg>
          = f.button :submit, "Send", class: 'button-send blue-bg'
