.title new

.add-guest
  = simple_form_for @guest, class: 'col' do |f|
    = f.input :name
    .row
      Points?
      = f.number_field :points, input_html: { class: 'form-control-lg' }, grid_wrapper_html: { class: 'col-sm-6 '}

    = f.button :submit, class: 'button white-bg' do
      Save Person
    = link_to('Cancel', guests_path, class: 'button cancel blue-bg')
